html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.right {
    display: grid;
    grid-template-rows: 20vh 1fr 20vh;
    width: 63vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

header {
    display: grid;
    background-color: #339cff;
    align-items: center;
}

header h1 {
    display: inline-block;
    position: relative;
    font-size: 50px;
    margin: 0;
    left: 10%;
}

main {
    width: 63vw;
    position: relative;
}

footer {
    display: grid;
    background-color: #339cff;
    align-items: center;
    justify-content: end;
}

footer h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 35px;
    color: #2c3034;
    right: 3%;
}

.left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #18cab4;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

.left img {
    width: 100%;
}

.left_side {
    padding: 10px;
}

.left_bottom {
    background-color: #19ea82;
    width: 100%;
}

.left_bottom h1 {
    text-align: center;
    color: white;
}

@media (max-width: 1080px){
    .container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% auto 10% 10%;
        grid-template-areas:
            "header header"
            "left_side main"
            "left_bottom left_bottom"
            "footer footer";
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main{
        margin-left: 10px;
        font-size: 48px;
        width: 100%;
    }

    .left_side {
        background-color: #18cab4;
        font-size: 42px;
    }

    .left_bottom {
        display: grid;
        background-color: #19ea82;
        grid-area: left_bottom;
        font-size: 30px;
    }
    .left_bottom ul {
        list-style-type: none;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0 10px 0 10px;
        justify-content: space-between;
    }

    .left_bottom h1 {
        display: inline-block;
        text-align: center;
        color: white;
        margin: 0;
    }

    header {
        display: grid;
        background-color: #339cff;
        grid-template-columns: auto auto;
        grid-area: header;
    }
    header h1 {
        font-size: 64px;
    }

    footer {
        background-color: #339cff;
        grid-area: footer;
    }
    footer h3{
        margin: 0;
        text-align: right;
    }
}