body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #339cff;
    height: 160px;
    font-size: 20px;
    padding: 10px;
    width: 63%;
    margin-left: auto;
    margin-right: 0;
}
header h1 {
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 20px;
    color: #2c3034;
}

main {
    padding: 10px;
    width: 63%;
    margin-left: auto;
    margin-right: 0;
    flex-grow: 1;
}

.left {
    background-color: #18cab4;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
}

.left img {
    width: 100%;
    height: 35%;
}

.left_side{
    height: 20%;
}
.left_bottom {
    background-color: #19ea82;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.left_bottom h1 {
    text-align: center;
    color: white;
}

footer {
    background-color: #339cff;
    height: 20%;
    width: 63%;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer h3 {
    text-align: right;
    font-size: 30px;
    position: relative;
    top: 40px;
    right: 20px;
    color: #2c3034;
}
